@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pistilliroman';
    src: url("/pistilliroman.otf") format('truetype');
  }
  
  body {
    font-family: 'pistilliroman', sans-serif;
  }